:host {
    display: block;
    padding: 10px;
    height: 100%;
    overflow-y: auto;
}

.thread-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  padding: 10px;
}

.message-item {
    margin-bottom: 10px;
    max-width: 90%;
    border: 1px solid #ccc;
    padding: 5px;
    align-self: flex-start;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    &.own-message {
        align-self: flex-end;
        .message-content {
            border-top-right-radius: 0;
            border-top-left-radius: 10px;
        }
    }
}
.message-content{
    border-radius: 10px;
    border-top-left-radius: 0;
    padding: 3px 5px;
}

.message-time {
    font-size: 0.7em;
    color: #888;
    margin-bottom: 5px;
    text-align: right;
}