.chat-container {
  display: flex;
  flex-direction: column;
  height: calc(85vh - 100px);
  border: 1px solid #ccc;
  margin-top: 20px;
}

.message-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.message-item {
  margin-bottom: 10px;
  max-width: 90%;
  border: 1px solid #ccc;
  padding: 5px;
  align-self: flex-start;
  border-radius: 10px;
    display: flex;
    flex-direction: column;
    &.own-message {
        align-self: flex-end;
        .message-content {
            border-top-right-radius: 0;
            border-top-left-radius: 10px;
        }
    }
}

.message-content{
    border-radius: 10px;
    border-top-left-radius: 0;
    padding: 3px 5px;
}
.message-item{
    .message-content{
        p{
            white-space: pre-line;
        }
    }
}

.message-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    margin-top: auto;
    .message-reactions {
         display: flex;
          .reaction-item {
            margin-right: 5px;
            cursor: pointer;
          }
    }
     .action-buttons {
         display: flex;
         align-items: center;
     }
}

.input-container {
  display: flex;
  padding: 10px;

  .message-input {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
    background-color: var(--chat-input-background-color, green);
    color: var(--chat-input-text-color, black);
    transition: background-color 0.3s;

    &::placeholder {
      color: var(--chat-input-placeholder-color, rgba(0, 0, 0, 0.5));
    }

    &:focus {
      background-color: var(--chat-input-focus-color, lightblue);
      outline: none;
    }
  }
}

